<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12">
    <a class="navbar-brand me-lg-5" href="/">
        <img class="navbar-brand-dark" src="../assets/img/brand/light.svg" alt="Volt logo" /> <img class="navbar-brand-light" src="../assets/img/brand/dark.svg" alt="Volt logo" />
    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu_collapsable" aria-controls="menu_collapsable" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="menu_collapsable">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">dashboard</a>
            </li>
          </ul>
        </div>
  </nav>